defusedxml==0.7.1
audioread==3.0.1
wcwidth==0.2.13
prompt_toolkit==3.0.51
pooch==1.8.2
ptyprocess==0.7.0
smmap==5.0.2
openai==1.84.0
nvidia-cusparselt-cu12==0.6.3
six==1.17.0
docker-pycreds==0.4.0
hf-xet==1.1.2
nbclient==0.10.2
typing-inspection==0.4.1
cycler==0.12.1
beautifulsoup4==4.13.4
anyio==4.9.0
laion_clap==1.1.7
progressbar==2.5
asttokens==3.0.0
threadpoolctl==3.6.0
pillow==11.0.0
soupsieve==2.7
datasets==3.6.0
nvidia-curand-cu12==10.3.9.55
attrs==25.3.0
decorator==5.2.1
torch==2.7.0+cu128
webdataset==0.2.111
httpx==0.28.1
joblib==1.5.1
nest-asyncio==1.6.0
imageio==2.37.0
msgpack==1.1.0
backcall==0.2.0
pydantic==2.11.5
annotated-types==0.7.0
pure_eval==0.2.3
bleach==6.2.0
ipython_pygments_lexers==1.1.1
torchaudio==2.7.0+cu128
pytz==2025.2
contourpy==1.3.2
mistune==3.1.3
scipy==1.15.3
certifi==2025.4.26
nvidia-nccl-cu12==2.26.2
Cython==3.1.1
soxr==0.5.0.post1
tqdm==4.67.1
aiohappyeyeballs==2.6.1
filelock==3.18.0
braceexpand==0.1.7
pandas==2.2.3
GitPython==3.1.44
lazy_loader==0.4
pyroomacoustics==0.8.4
jupyter_client==8.6.3
multidict==6.4.4
tornado==6.5.1
tinycss2==1.4.0
fsspec==2025.3.0
pexpect==4.9.0
docopt==0.6.2
pickleshare==0.7.5
debugpy==1.8.14
nvidia-cublas-cu12==12.8.3.14
idna==3.10
jedi==0.19.2
sentry-sdk==2.29.1
huggingface-hub==0.32.2
jsonschema==4.25.0
pipreqs==0.5.0
wget==3.2
torchlibrosa==0.1.0
mpmath==1.3.0
nvidia-cuda-nvrtc-cu12==12.8.61
nbconvert==7.16.6
nvidia-cuda-runtime-cu12==12.8.57
wandb==0.19.11
sympy==1.13.3
pydantic_core==2.33.2
nvidia-cusparse-cu12==12.5.7.53
executing==2.2.0
ipykernel==6.29.5
nvidia-cufile-cu12==1.13.0.11
webencodings==0.5.1
dill==0.3.8
jsonschema-specifications==2025.4.1
nvidia-cudnn-cu12==9.7.1.26
fastjsonschema==2.21.1
Pygments==2.19.2
propcache==0.3.1
platformdirs==4.3.8
aiohttp==3.12.6
traitlets==5.14.3
pip==24.0
multiprocess==0.70.16
fonttools==4.58.4
psutil==7.0.0
requests==2.32.3
matplotlib-inline==0.1.7
scikit-learn==1.6.1
ipython==8.12.3
parso==0.8.4
umap-learn==0.5.7
yarg==0.1.9
soundfile==0.13.1
tokenizers==0.21.1
xxhash==3.5.0
nvidia-cufft-cu12==11.3.3.41
charset-normalizer==3.4.2
tzdata==2025.2
safetensors==0.5.3
httpcore==1.0.9
numba==0.61.2
triton==3.3.0
pycparser==2.22
python-dateutil==2.9.0.post0
plotly==6.1.2
distro==1.9.0
referencing==0.36.2
llvmlite==0.44.0
ftfy==6.3.1
setuptools==80.9.0
rpds-py==0.26.0
numpy==1.26.4
pandocfilters==1.5.1
setproctitle==1.3.6
torchvision==0.22.0+cu128
protobuf==6.31.1
kiwisolver==1.4.8
stack-data==0.6.3
networkx==3.5
nvidia-cusolver-cu12==11.7.2.55
librosa==0.11.0
nbformat==5.10.4
matplotlib==3.10.3
MarkupSafe==3.0.2
yarl==1.20.0
narwhals==1.43.0
frozenlist==1.6.0
packaging==25.0
click==8.2.1
h5py==3.13.0
transformers==4.52.4
jupyterlab_pygments==0.3.0
nvidia-nvjitlink-cu12==12.8.61
comm==0.2.2
nvidia-cuda-cupti-cu12==12.8.57
gitdb==4.0.12
aiosignal==1.3.2
pyzmq==27.0.0
PyYAML==6.0.2
pyarrow==20.0.0
h11==0.16.0
jupyter_core==5.8.1
nvidia-nvtx-cu12==12.8.55
pynndescent==0.5.13
pybind11==2.13.6
typing_extensions==4.13.2
jiter==0.10.0
regex==2024.11.6
cffi==1.17.1
Jinja2==3.1.6
GradCache==0.1.0
sniffio==1.3.1
pyparsing==3.2.3
urllib3==2.4.0
